body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#background-image {
    background-image: url("../img/background/back2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 8em 0 8em 0;
}

h1 {
    color: aquamarine;
    font-weight: bold;
    font-family: fantasy;
    padding: 0 1em 0 1em;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navy>li>a {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#navy>li>a:hover {
    
    background-color: #9369f1;
    border-radius: 10px;
    
}